@charset "UTF-8";

.inner-wrapper {
  background-image: url(/mimages/CenterCal15/inner.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
}

.container {
  @include outer-container;
  position: relative;
}

.content {
  background-color: $color-white;
  @include margin($base-spacing * 5 0 0 0);
  @include media($tablet) {
    @include padding(0 $base-spacing);
  }
}

section {
  @include margin($base-spacing 0);
  @include padding($base-spacing * 2 0);
  overflow: auto;
  background-color: $color-white;
  min-height: 325px;

  .home-nav-content {
    @include margin(0 0 $base-spacing 0);
    display: block;
    overflow: auto;
  }

  @include media($mobile) {
    min-height: none;
    @include span-columns(4);
  }
}

article {
  @include outer-container;
  @include span-columns(8);
  @include margin(0 null);

  @include media($mobile) {
    @include span-columns(4);
    @include padding(0);
    border: none;
  }
}

aside {
  @include span-columns(4);
  @include padding(null null null $base-spacing);
  border-left: $base-border;

  @include media($mobile) {
    @include span-columns(4);
    @include padding(0);
    border: none;
  }
}
